{% include "yalladevelop/header.html" %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" ></li>
		<li data-target="#myCarousel" data-slide-to="1" ></li>
		<li data-target="#myCarousel" data-slide-to="2" ></li>
		<li data-target="#myCarousel" data-slide-to="3" class="active"></li>
	</ol>
	
	<div class="carousel-inner">
		{% for project in hot_projects %}
			<div class="item">
				<br/><br/><br/><br/>
				<img src="{% url 'getProjectPicture' project.id %}" style="-webkit-filter: blur(10px);">
			
				<div class="container">
					<div class="carousel-caption">
						<div class="color">
							<h2>{{project.name}}</h2>
							<h5> {{project.description}} </h5>
						</div>
						<a class="btn btn-lg btn-info" href="project/{{project.id}}" role="button">Learn more</a>
					</div>
				</div>
			</div>
		{% endfor %}
		
		<div class="item active">
			<!--img data-src="holder.js/1200x526/auto/#000:#000/text:{{random_member}}"-->
			<div id="slider-image"><img src="{% url 'getProfilePicture' random_member.user.id %}" style="-webkit-filter: blur(5px); min-width:1200px; max-height:600px; vertical-align:middle;"></div>
			
			<div class="container">
				
				<div class="carousel-caption">
					{% if logged_in %}
						<!--div style="width:100%" id="slider_image" style="background-image: url({% url 'getProfilePicture' random_member.user.id %})"></div-->
						
						<h2> Meet {{random_member}} </h2><br> <h5> <a class="btn btn-info" href="/profile/{{random_member.user.id}}">View Profile</a> </h5>
					{% else %}
						<h1> Join the innovative communty. </h1>
						<p>Your idea, our help.</p>
						<p><a class="btn btn-lg btn-info" href="/userorcompany/" role="button"> Yalla start here! </a></p>
					{% endif %}
					<div id="indexslider2">Scroll right to see our hottest Projects </div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div>


    <div class="container marketing">
		<div class="row">
			<div id= "Indexheader"><h3>&nbsp; <i class="fa fa-star"></i> Featured Projects </h3></div><br>
			{% for project in featured_projects %}
				<div class="col-lg-4">
					<p><strong>{{project.name}}</p></strong>
					<img width="180" height="100" src="{% url 'getProjectPicture' project.id %}">
					<p>{{project.description}}</p>
					<p><a class="btn btn-default" href="/project/{{project.id}}" role="button">View details &raquo;</a></p>
				</div>
          {% endfor %}
		</div>
	</div>

{% include "yalladevelop/footer.html" %}